<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.wujialei.cordova.localajax"
    version="0.1.0">
    <name>LocalAjaxPlugin</name>
    <description>the same of browser's request</description>
    <license>wujialei isc</license>
    <keywords>cordova, localajax</keywords>
    <repo>https://github.com/rockywu/org.wujialei.cordova.localajax/tree/master</repo>
    <issue>https://github.com/rockywu/org.wujialei.cordova.localajax/issues</issue>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalAjax" >
                <param name="android-package" value="org.wujialei.cordova.localajax.LocalAjaxPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/LocalAjaxPlugin.java"
            target-dir="src/org/wujialei/cordova/localajax" />
    </platform>

</plugin>
