<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.wujialei.cordova.communication"
    version="0.1.0">
    <name>CommunicationPlugin</name>
    <description>the same of browser's request</description>
    <license>wujialei isc</license>
    <keywords>cordova, data communication</keywords>
    <repo>https://github.com/rockywu/org.wujialei.cordova.communication/tree/master</repo>
    <issue>https://github.com/rockywu/org.wujialei.cordova.communication/issues</issue>

    <js-module src="www/Communication.js" name="Communication">
        <clobbers target="Communication" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Communication" >
                <param name="android-package" 
                    value="org.wujialei.cordova.communication.CommunicationPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/CommunicationPlugin.java"
            target-dir="src/org/wujialei/cordova/communication" />
        <source-file src="libs/volley.jar"
            target-dir="libs" />
    </platform>

</plugin>
